#body .container {
  width: 100vw;
}
#body .container > .head {
  position: relative;
  width: 100vw;
}
#body .container > .head > .img {
  width: 100vw;
  height: 500px;
}
#body .container > .head > .img > img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#body .container > .head > h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 60px;
}
#body .container > .video {
  border-top-right-radius: 100px;
  border-top-left-radius: 100px;
  border-top: 3px solid rgb(143, 118, 99);
  background: url(https://www.universalbeijingresort.com/themes/custom/resort/images/web/app/app-bg-1.png);
  width: 100vw;
  height: 400px;
}
#body .container > .video > .contain {
  width: 1000px;
  height: 400px;
  margin: auto;
  display: flex;
}
#body .container > .video > .contain > .word {
  width: 500px;
  text-align: center;
  padding-top: 60px;
}
#body .container > .video > .contain > .word > img {
  display: block;
  margin-left: 50%;
  transform: translateX(-50%);
  width: 100px;
  height: 100px;
}
#body .container > .video > .contain > .word > div p {
  padding-top: 10px;
  color: #666;
  font-size: small;
}
#body .container > .video > .contain > .word > div a button {
  cursor: pointer;
  margin-top: 20px;
  border-style: none;
  width: 300px;
  height: 60px;
  background-color: var(--color-top);
  border-radius: 50px;
  color: white;
  font-size: 16px;
  font-weight: 550;
  transition: 1s;
}
#body .container > .video > .contain > .word > div a button:hover {
  background-color: var(--color-main);
}
#body .container > .video > .contain > .display {
  width: 500px;
  height: 100%;
  background-color: #eee;
}
#body .container > .main-bg {
  width: 100vw;
}
#body .container > .main-bg > ul > li {
  margin-bottom: 10px;
  width: 100vw;
  height: 500px;
}
#body .container > .main-bg > ul > li img {
  height: 100%;
  width: 100%;
}
#body .container > .down-one {
  width: 100vw;
  height: 400px;
  background: url(../../assert/uniapp/bg3.png);
}
#body .container > .down-one > .container {
  width: 1000px;
  margin: auto;
  margin-top: -10px;
}
#body .container > .down-one > .container > .word {
  width: 1000px;
  height: 90px;
  text-align: center;
  padding-top: 30px;
}
#body .container > .down-one > .container > .word p {
  font-weight: 100;
  font-size: small;
}
#body .container > .down-one > .container > .img {
  display: flex;
}
#body .container > .down-one > .container > .img div {
  width: 250px;
  margin-top: 20px;
  padding-left: 10px;
}
#body .container > .down-one > .container > .img div h3 {
  font-weight: bolder;
}
#body .container > .down-one > .container > .img div p {
  font-size: xx-small;
  font-weight: bold;
}
#body .container > .down-one > .container > .img div button {
  cursor: pointer;
  height: 30px;
  border-color: #eee;
  border-radius: 20px;
}
#body .container > .down-one > .container > .img img {
  width: 250px;
}
#body .container > .down-two {
  width: 1000px;
  height: 350px;
  margin: auto;
}
#body .container > .down-two > .word {
  width: 1000px;
  text-align: center;
}
#body .container > .down-two > .word p {
  color: #444;
  margin-top: 20px;
}
#body .container > .down-two > .img {
  width: 100px;
  height: 100px;
  display: flex;
  margin: 30px 300px;
}
#body .container > .down-two > .img img {
  margin-left: 80px;
  width: 100%;
  height: 100%;
}/*# sourceMappingURL=uniapp.css.map */